button {
 font-size: 1.1em;
 background-color: #EBF5FF;
 color: #4312AE;
 border: 2px solid black;
 box-shadow: 4px 4px 4px #999999;
}

button:hover, button:focus, button:active {
 /* swap colors */
 color: #EBF5FF;
 background-color: #4312AE;
 cursor: pointer; /* displays a hand */
}

body{
	background-image: url("http://greatwallonline.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/f/i/file_2_1_1.jpg");
	background-repeat: round;
	/*background-color: #B9CAF4;*/
	font-size: 1em;
	font-weight: normal;
	font-family: cursive, Sans-serif;
	color: #000000;
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	border: 12px dashed yellow;
	padding: 15px;
	width: 1000px;
	min-width: 720px;
	margin: 0 auto;
}

h1{
	font-family: Rockwell;
	font-size: 2em;
	font-weight: bold;
	color: pink;
	text-align: center;
	border: pink double;
}

h2{
	font-family: cursive;
	font-size: 1.4em;
	color: #FFB788;
	border: double;
	text-align: center;
	width: 8%;
}

ul{
	font-family: cursive;
	color: #555555;
}

div{
	font-style: italic;
}

p{
	font-family: cursive;
	color: #555555;
	padding: 10px;
}

.accessibility_body{
	background-color: #B9CAF4;
	font-size: 1em;
	font-weight: normal;
	color: #555555;
	text-align: left;
	border: 12px dashed yellow;
	margin-left: 10%;
	margin-right: 10%;
}

#cap{
	color: blue;
}

table{
	margin: auto;
}

div#skipnav {
	width: 10em;
    position: relative;

}

.info{
	width: 40%;
	font-size: 20px;
}

#banner{
	margin-left: 130px;
	margin-top: 10px;
}

#overview{
	font-size: 18px;
	border: 3px solid orange;
	padding: 10px;
}

.temp{
	font-style: italic;
}

main{
	background-color: white;
	clear: left;
}

 a {
    color: black;
    background-color: none;
}
  a:hover, a:focus {
    color: white;
    background-color: none;
}

 p#overview:first-letter{
	  font-family: cursive;
	  font-size:30px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  float: left;
  margin-right: 0.5em;
}

nav ul li a {
  padding: 0.25em 1em;
  text-decoration: none; /* no underline */
  background-color: #EBF5FF; /* pale bluish white */
  color: #4312AE; /* dark blue */
  border: 2px solid black;
  border-top-left-radius: 1em 1em; /* rounded corner! */
  border-top-right-radius: 1em 1em; /* another rounded corner! */
}

nav ul li a:hover, nav ul li a:focus {
  color: black;
  background-color: white;
  font-weight: bold;
}
